<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <servers>
        <server>
            <id>buhlite-dev</id>
            <username>system</username>
            <password>manager</password>
        </server>
        <server>
            <id>lzLocalRepo</id>
            <username>repoMavenUserKey</username>
            <password>R8h2czdScHbIZDjKUbOn02gpJS</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>lzLocalRepo</id>
            <mirrorOf>*</mirrorOf>
            <url>https://repo.ligazakon.net/repository/maven-public</url>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>lzLocalRepo</id>
            <repositories>
                <repository>
                    <id>maven-public</id>
                    <url>https://repo.ligazakon.net/repository/maven-public</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>lzLocalRepo</activeProfile>
    </activeProfiles>

</settings>
